$divider-color:#e0e0de;

.container {
    overflow: hidden;
}

.bot-side {
    width: 300px;
    margin-left: 2px;
    height: calc(100vh - 122px);
    overflow-y: auto;
}

.bot-main {
    flex-grow: 1;
    height: calc(100vh - 122px);
}

.bot {
    display: flex;
    overflow-y: hidden;
}

.top {
    overflow: hidden;
    height: 122px;
    border-bottom: 2px inset $divider-color;
}