$divider-color: #e0e0de;

.container {
  overflow: hidden;
}

.bot-side {
  width: 310px;
  min-width: 310px;
  margin-left: 2px;
  height: calc(100vh - 122px);
  overflow-y: auto;
  float: left;
}

.bot-main {
  position: absolute;
  left: 302px;
  width: calc(100vw - 302px);
  height: calc(100vh - 122px);
  overflow: hidden;
  margin-left: 3em;
  max-width: 85em;
}

.bot {
  overflow: hidden;
}

.top {
  overflow: hidden;
  height: 122px;
  border-bottom: 2px inset $divider-color;
}
