$divider-color:#e0e0de;
$blue-color:#4681b8;

.selectLabel {
    height: 120px;
    padding-top: 10px;
    text-align: center;
    color: grey;
    font-size: 1.6em;
    border-bottom: 2px solid $divider-color;
}

.curInstanceLabel { 
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    color: darkgray;
    font-weight: bold;
    font-size: 1.4em;
    overflow: hidden;
    max-width: 85%;
    display: inline-block;
    text-overflow: ellipsis;
}

.backDiv {
    height: 60px;
    border-bottom: 2px solid $divider-color;
}

.backMidDiv {
    height: 21px;
    padding-top:13px;
    padding-left: 25px;
}

.searchBox {
    padding-top: 20px;
    text-align: center;
    max-width: 90%;
    min-width: 150px;
    height: 50px;
    margin: auto;
    padding-left:4%;
}

.list {
    margin-top: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list .curMap {
    color: $blue-color;
    font-weight: bold;
    border-left: 5px solid $blue-color;
}

.list > li {
    height: 60px;
    padding-left: 2em;
    color: grey;
    font-size: 1.2em;
    border-bottom: 1px solid $divider-color;
}

.list >li:hover {
    border-left: 5px solid $blue-color;
    transition: background-color 0.5s ease;
    background: $divider-color;
    font-weight: bold;
    cursor: pointer;
    color: $blue-color;
}

.list > li > div {
    padding-top: 16px;
}

.spinner-container {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.sk-spinner {
    margin: 0 auto;
}