$blue-color:#4681b8;
$divider-color:#f7f7f7;
$background-color:grey;

.topBar {
    min-width: 800px;
    min-height: 122px;  
}

.topBarMid {
    display: flex;
    flex-direction: row;
}

.topLeft {
    flex: 1;
    width: 18%;
    min-width: 100px;
    color: $blue-color;
    font-weight: bold;
    font-size: 2.5em;
    height: 30%;
    padding-top: 2%;
    padding-left: 5%;
}

.topMid {
    padding-top: 3%;
    min-width: 380px;
    flex: 1;
    width: 35%;
    margin: 0 3%;
}

.topRight {
    min-width: 250px;
    width: 30%;
    flex: 1;
}

.clear {
    clear: left;
}

.navs {
    min-width: 75px;
    font-size: 1em;
    height: 20px;
    text-align: center;
    padding-top:32%;
    padding-bottom: 32%;
}

.curNav {
    font-weight: bold;
    color: $blue-color;
    border-bottom: 3px solid $blue-color;
    min-width: 75px;
    height: 20px;
    text-align: center;
    padding-top:32%;
    padding-bottom: 32%;
}

.topRightMid {
    display: flex;
    flex-direction: row;
}
.navsWrapper {
    flex: 1;
}

.navsWrapper:hover {   
    color: $blue-color;
    background-color: $divider-color;
    transition: background-color 0.3s ease;
    border-bottom: 3px solid $blue-color;
}

.navs:hover {
    cursor: pointer;
}

.topMidMid {
    display: flex;
    flex-direction: row;
}

.hmTimeFrameDiv {
    flex: 1;
    min-width: 100px;
    width: 10%;
    padding-left: 2%;
    text-align: center;
}

.cmpFrameDiv {
    flex: 1;
    min-width: 100px;
    width: 10%;
    padding-left: 2%;
    text-align: center;
}
.cmpFirstPeriod {
    flex: 1;
    min-width: 100px;
}

.cmpSecondPeriod {
    flex: 1;
    min-width: 100px;
}

.frameLabel {
    color: $blue-color;
    font-size: 1em;
    font-weight: bold;
}

.frameBtn {
    width: 70%;
    height: 20px;
    font-size: 0.9em;
}


.frameList {
    margin-top: 0;
    padding: 0;
    list-style-type: none;
}


.labelContainer {
    flex: 1;
    min-width: 210px;
}

.labelMidLayer {
    display: flex;
    flex-direction: row;
}

.numRobot {
    flex: 1;
    text-align: center;
    min-width: 100px;
    margin: 0 5px;
}

.numML {
    flex: 1;
    text-align: center;
    min-width: 100px;
}

.num {
    font-size: 1.1em;
    font-weight: bold;
    color: $blue-color;
}




